*
.DS_Store
Thumbs.db

!/.gitignore
!/.editorconfig
!/install.sh
!/.agents/
!/.agents/**
!/AGENTS.md
!/LICENSE
!/README.md
!/assets/
!/assets/**
!/bash/
!/bash/**
/bash/**/.DS_Store
/bash/**/Thumbs.db
!/zsh/
!/zsh/**
/zsh/**/.DS_Store
/zsh/**/Thumbs.db
